.contacts-wrapper { 
    @include flex;
    @include fd-c;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    form { 
        @include flex;
        @include fd-c;
        margin: 5rem;
        width: 50rem;
        @media (max-width: 42rem) {
            width: 35rem;
            }
        label { 
            font-weight: 500;
        }
        input { 
            border: 0.05 solid black;
            border-radius: 1rem;
            padding: 1rem;
        }
        textarea { 
            border-radius: 1rem;
            padding: 4rem;
        }
    }
}